@import '~@blueprintjs/core/lib/css/blueprint.css';

html,
body,
.target {
	height: 100%;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
}

.status {
	display: flex;

	align-content: center;
	align-items: center;
	justify-content: center;

	position: absolute;
	z-index: 100;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;

	width: 400px;
	margin-top: 30px;
	height: 30px;
	background: lightblue;

	div {
		flex: 1;
		margin: 0px;
		padding: 0px;
		line-height: 0;
	}
}

.component-GUI {
	height: 100%;
}

.component-Diagnostic {
	.title {
		font-weight: 500;
		margin-right: 20px;
	}
}

.component-marked {
	margin-left: 5px;
	margin-right: 5px;
	padding: 1px;
	border-radius: 4px;
	border: 1px solid silver;
	background: transparentize(silver, 0.7);
}

.component-ConnectedGui {
	height: 100%;
	display: flex;
	flex-direction: column;
	.part-Panel {
		height: 100%;
	}
}

.component-ScopesViewer {
	height: 100%;
	display: flex;
	flex-direction: column;
	.part-Scopes {
		height: 100%;
		padding: 10px;
		overflow: auto;
	}
}

.component-FormatViewer {
	.header {
		margin: 10px 10px 5px 10px;
		.id {
			margin-right: 10px;
			font-weight: 600;
		}
		.default {
			color: gray;
			font-size: 12px;
		}
	}
	.format {
		margin-left: 24px;
	}
}
