@import '~@blueprintjs/core/lib/css/blueprint.css';

html,
body,
.target {
	height: 100%;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
}

.component-GUI {
	height: 100%;
}

.component-Diagnostic {
	.title {
		font-weight: 500;
		margin-right: 20px;
	}
}
